@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

nav .btn-custom,
.btn-custom {
	background-color: #cf2236 !important; 
	color: #fff!important;
	border: none;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

.btn-custom:hover {
	background-color: #c82333 !important;
	color: #fff!important;
}

body {
	background-color: #f6f8fa!important;
}